body {
    margin:0;
    padding: 0;
    background-image: url("Images/pexels-jaime-reimer-2662116.jpg");
    background-size: cover;
    overflow-x: hidden;
}
/*For the navigation for*/
.Light {
    top:0;
    right:0;
    width:100%;
    height:11vh;
    padding:11px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.Light ul {
    list-style-type: none;
    padding:0;
    margin: 0;
    display: flex;
}
.Light ul li {
    margin-left: 11px;
}
.Light ul li a {
    color:#000000;
    text-decoration: none;
    padding:50px;
    position: relative;
}
.Light ul li a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 100%;
    height:3px;
    background-color: #cc2924;
}
/*For footer*/

.footer {
    position:absolute ;
    background-color: #222;
    color: #fff;
    padding: 21px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    top:110%;
}
.container {
    max-width: 961px;
    margin: 0 auto;
}
.grid-container-avenue {
    padding: 10px;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(301px, 301px));
    column-gap: 15px;
    row-gap: 30px;
    margin-right: 0%;
    top: 11%;
    bottom: 100px; /* Adjust this value to create space between images and footer */
  }
  
    /*images on the portfolio page*/
    .Dew {
        width: 250px;
        height: 301px;
        object-fit: cover;
        object-position: center;
        border-radius:10px;
        border:4px solid black;
    }